#mybody {
    background-color: white;
    margin: 0%;
    
}

.InputForm {
    text-align: center;
}
#text {
    text-align: center;
    display: none;
    border-style: dashed;
    border-radius: 50px;
    width: 20%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}




.submitbtn {
    margin-left: 5%;
}

.images {
    width: 8%;
}